/* TO DO:
add hover to thumbnail so photo zooms on hover */

*{
    /*border: none;*/
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.movieStills__thumbnail{
    width: 32rem; /* ~500 px */
    height: 32rem;
    object-fit: cover;

    transition: transform .5s ease;
}

.movieStills__container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    gap: 1rem;
}

.movieStills__figure{
    position: relative;
}

.movieStills{
    height: 32rem;
    overflow: hidden;
}

.movieStills:hover .movieStills__thumbnail{
    transform: scale(1.1);
}

.zodiacLabel{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 0;
    width: 100%;
}

.card{
    /*display:none;*/
}

.card__img{
    max-width: 300px; /* for now*/
}

/* write a media query to reduce image w/h at breakpoints */